@model CST247CLC.Models.UserModel

    <div>
        <h4>Registered Successfully!</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.id)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.id)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.firstName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.firstName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.lastName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.lastName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.sex)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.sex)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.age)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.age)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.email)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.email)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.userName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.userName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.password)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.password)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.state)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.state)
            </dd>
        </dl>
    </div>