@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<p>@ViewBag.firstName</p><br />
<p>@ViewBag.lastName</p><br />
<p>@ViewBag.sex</p><br />
<p>@ViewBag.age</p><br />
<p>@ViewBag.email</p><br />
<p>@ViewBag.userName</p><br />
<p>@ViewBag.password </p><br />